# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Prog1/v16/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Prog1/v16/ipch/AutoPCH/ffde036078e760b8/SIMPLE_WINDOW.ipch
.vs/Prog1/v16/ipch/AutoPCH/ff76b448c885fd66/DRILL12.ipch
.vs/Prog1/v16/ipch/AutoPCH/ff5f61c45fc35f27/GRAPH.ipch
.vs/Prog1/v16/ipch/AutoPCH/f0ce7d26055d8f93/EXERCISES12.ipch
.vs/Prog1/v16/ipch/AutoPCH/d3d1efa3738fed36/DRILL12.ipch
.vs/Prog1/v16/ipch/AutoPCH/cfddccb42990e16c/EXERCISES12.ipch
.vs/Prog1/v16/ipch/AutoPCH/c7ccd4513f397efa/MAIN.ipch
.vs/Prog1/v16/ipch/AutoPCH/c4e3163d9ba8294f/DRILL12.ipch
.vs/Prog1/v16/ipch/AutoPCH/b04f57f0584150d3/DRILL.ipch
.vs/Prog1/v16/ipch/AutoPCH/9511b3492a4fc338/DRILL13.ipch
.vs/Prog1/v16/ipch/AutoPCH/8d38db30198f02ed/DRILL12.ipch
.vs/Prog1/v16/ipch/AutoPCH/7abc589bbdfc101c/EXERCISES12.ipch
.vs/Prog1/v16/ipch/AutoPCH/78099ef9335bb899/EXERCISES12.ipch
.vs/Prog1/v16/ipch/AutoPCH/5af44374127a41cf/EXERCISES12.ipch
.vs/Prog1/v16/ipch/AutoPCH/23b65847ba58d156/MAIN.ipch
.vs/Prog1/v16/ipch/AutoPCH/199e3d302b23aa1f/WINDOW.ipch
.vs/Prog1/v16/ipch/AutoPCH/184d70a538b35a0c/GUI.ipch
.vs/Prog1/v16/ipch/AutoPCH/101cfc40a520c792/DRILL13.ipch
.vs/Prog1/v16/Browse.VC.db
Release/vcpkg.applocal.log
Release/vc142.pdb
Release/Prog1.vcxproj.FileListAbsolute.txt
Release/Prog1.tlog/Prog1.lastbuildstate
Release/Prog1.tlog/link.write.1.tlog
Release/Prog1.tlog/link.read.1.tlog
Release/Prog1.tlog/link.command.1.tlog
Release/Prog1.tlog/CL.write.1.tlog
Release/Prog1.tlog/CL.read.1.tlog
Release/Prog1.tlog/CL.command.1.tlog
Release/Prog1.pdb
Release/Prog1.log
Release/Prog1.exe.recipe
Release/Prog1.Build.CppClean.log
Prog1.vcxproj.user
Prog1.vcxproj.filters
Prog1.vcxproj
Prog1.sln
