# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Prog1/v16/
Release/vcpkg.applocal.log
Release/vc142.pdb
Release/Prog1.vcxproj.FileListAbsolute.txt
Release/Prog1.tlog/
Release/Prog1.pdb
Release/Prog1.log
Release/Prog1.exe.recipe
Release/Prog1.Build.CppClean.log
Prog1.vcxproj.user
Prog1.vcxproj.filters
Prog1.vcxproj
Prog1.sln
Release/
Debug/